@model IEnumerable<SueñoCelestePagos.Entities.CuotasPlanDePago>
@{
    ViewBag.Title = "Index";
}

<div class="heading main centered">
    <h3 class="uppercase lg-title">Resumen de cuotas <span class="main-color"></span></h3><b class="head-sep"><u></u></b><b class="head-sep"><u></u></b>
</div>

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row" style="padding-left:10px;padding-right:10px">
                        Cuotas <div class="pull-right"><a href="@Url.Action("ActualizarDatos","Clientes")" class="btn btn-primary">Actualizar Mis Datos</a></div>
                    </div>
                </div>
                @*<div class="panel-body">
                    <p>En esta pantalla aparecen las cuotas pagadas y cuotas pendientes, las cuales podra pagar</p>
                </div>*@

                <!-- List group -->
                <ul class="list-group">
                    @foreach (var cuota in Model)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    Cuota Nro° @cuota.NroCuota del cupon Nro° @cuota.CartonVendido.Carton.Numero: $@cuota.PrimerPrecioCuota
                                </div>
                                <div class="col-md-2">
                                    @if (cuota.PrimerVencimiento >= DateTime.Today)
                                    {
                                        if (cuota.CuotaPagada)
                                        {
                                            <a class="btn btn-success disabled">Pagado</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PagarCuota", "Compras", new { cuota = cuota.ID })" class="btn btn-success">Pagar</a>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.Last() == cuota)
                                        {
                                            <a href="@Url.Action("PagarCuota", "Compras", new { cuota = cuota.ID })" class="btn btn-success">Pagar</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success disabled">Cuota Vencida</a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="panel">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>