<!DOCTYPE html>
<html lang="es" class="js no-touch cssanimations csstransitions js no-touch cssanimations csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Sueño Celeste | Mutual 9 de Julio | Morteros</title>
    <meta name="description" content="Sueño Celeste - Promoción Multimillonaria - Mutual 9 de Julio - Morteros">
    <meta name="author" content="Hernán Braida">
    <meta name="google-site-verification" content="twpUIVRHDgiv4_g_ceV0Ro9ikZmbcHAf80B71FL4SE" />

    <!-- Devices Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
    <link rel="shortcut icon" href="https://www.xn--sueoceleste-3db.com/assets/images/favicon.ico">

    <link href="https://www.xn--sueoceleste-3db.com/assets/css" rel="stylesheet" type="text/css">

    <!-- Plugins CSS files -->
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/css/assets.css">
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/css/style.css">
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/css/shortcodes.css">

    <!-- REVOLUTION SLIDER STYLES -->
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/revolution/fonts/pe-icon-7-stroke/csspe-icon-7-stroke.css" type="text/css">
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/revolution/css/settings.css" type="text/css">
    <link rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/revolution/css/navigation.css" type="text/css">

    <link id="theme_css" rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/css/light.css">
    <link id="skin_css" rel="stylesheet" href="https://www.xn--sueoceleste-3db.com/assets/css/skins/default.css">

    <link rel="stylesheet" href="~/Content/styles.css" />

    <link rel="stylesheet" href="~/Content/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-5.14.0/css/all.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4MJD0HRL02"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-4MJD0HRL02');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '370914277592935');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=370914277592935&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>

    <!-- site preloader start -->
    <div class="page-loader" style="display: none;"><div class="line_with_Dots"><div class="circlesload"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div></div><div class="line_with_Dots"><div class="circlesload"><i></i><i></i><i></i><i></i></div></div></div>
    <!-- site preloader end -->
    <!-- Header start -->
    <div class="pageWrapper">
        <div class="newNav dark-bg ">
            <span class="cls"></span><span class="responsive-menu">
                <ul>
                    <li class="selected" style="transition-delay: 0ms;"><a href="https://www.xn--sueoceleste-3db.com/"><span>Inicio</span></a></li>
                    <li style="transition-delay: 50ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=1"><span>Promoción</span></a></li>
                    <li style="transition-delay: 100ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=3"><span>Sorteos</span></a></li>
                    <li style="transition-delay: 150ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=5"><span>Evento Final</span></a></li>
                    <li style="transition-delay: 200ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=5"><span>¡Comprá Ya!</span></a></li>
                </ul>

            </span><span class="cls"></span><i class="clo"></i>
        </div>
        <div class="newNav dark-bg ">
            <span class="cls"></span><span class="responsive-menu">
                <ul>
                    <li class="selected" style="transition-delay: 250ms;"><a href="https://www.xn--sueoceleste-3db.com/"><span>Inicio</span></a></li>
                    <li style="transition-delay: 300ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=1"><span>Promoción</span></a></li>
                    <li style="transition-delay: 350ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=3"><span>Sorteos</span></a></li>
                    <li style="transition-delay: 400ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=5"><span>Evento Final</span></a></li>
                    <li style="transition-delay: 450ms;"><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=5"><span>¡Comprá Ya!</span></a></li>
                </ul>

            </span><span class="cls"></span><i class="clo"></i>
        </div>

        <!-- Header start -->
        <div class="top-bar main-bg no-border">
            <div class="container">

                <ul class="top-info f-left">
                    <li><i class="fa fa-envelope white"></i><b class="white">Email:</b> <a href="mailto:sceleste_mutual9@hotmail.com">sceleste_mutual9@hotmail.com</a></li>
                    <li><i class="fa fa-phone white"></i><b class="white">Teléfono:</b> +54 (03562) 404455</li>
                    <li class="dropdown language-selector">
                        <a href="https://www.xn--sueoceleste-3db.com/#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"><i class="fa fa-flag white"></i>AR</a>
                        <!--<ul class="dropdown-menu">
                            <li class="active">
                                <a href="#">AR</a>
                            </li>
                            <li>
                                <a href="#">EN</a>
                            </li>
                            <li>
                                <a href="#">FR</a>
                            </li>
                        </ul>-->
                    </li>
                </ul>

                <div class="f-right social-list">
                    <span class="lbl-txt">Síguenos en:</span>
                    <a href="http://www.instagram.com/promocionsuenoceleste" data-toggle="tooltip" data-placement="bottom" data-original-title="Instagram"><i class="fa fa-instagram ic-instagram no-border" data-hover=""></i></a>
                    <a href="http://www.facebook.com/PromocionSuenoCeleste" data-toggle="tooltip" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook ic-facebook no-border" data-hover=""></i></a>
                    <a href="https://www.youtube.com/channel/UCnsZ5_UcOptaPfNdKKjZzNA" data-toggle="tooltip" data-placement="bottom" data-original-title="YouTube"><i class="fa fa-youtube ic-youtube no-border" data-hover=""></i></a>
                    <a href="https://twitter.com/celestesueno" data-toggle="tooltip" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter ic-twitter no-border" data-hover=""></i></a>
                </div>
            </div>
        </div>


        <header class="top-head header-1 skew">
            <div class="container">
                <!-- Logo start -->
                <div class="logo">
                    <a href="https://www.xn--sueoceleste-3db.com/"><img alt="" src="https://www.xn--sueoceleste-3db.com/assets/images/logo.png"></a>
                </div>
                <!-- Logo end -->

                <div class="responsive-nav">
                    <!-- top navigation menu start -->
                    <nav class="top-nav">
                        <ul>
                            <li><a href="https://www.xn--sueoceleste-3db.com/"><span>Inicio</span></a></li>
                            <li><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=1"><span>Promoción</span></a></li>
                            <li><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=3"><span>Sorteos</span></a></li>
                            <li><a href="https://www.xn--sueoceleste-3db.com/News/SectionPortal?pIdSection=5"><span>Evento Final</span></a></li>
                            <li class="selected"><a href="~/Clientes/Identificarse"><span>¡Comprá Ya!</span></a></li>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Content start -->
        <div class="pageContent" style="min-height: 174px;">

            @*<div class="page-title main-bg">
                    <div class="container">
                        <img src="~/Content/assets/images/slide-compra-ya.jpg" class="img-responsive">
                    </div>
                </div>*@

            <!-- Ultimas Noticias -->
            <div class="md-padding">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 fx animated fadeInUp" data-animate="fadeInUp">

                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>

            <!-- Aviso -->
        </div>
    </div>
    <!-- Content end -->
    <!-- Footer start -->
    <footer id="footWrapper">

        <!-- footer top bar start -->
        <div class="footer-top">
            <div class="container">
                <p class="lg-txt f-left">
                    La Promoción Líder en <span class="main-color heavy">Dinero en Efectivo</span>
                </p>
                <a class="f-right btn uppercase main-gradient skew-btn" href="https://www.xn--sueoceleste-3db.com/#"><span>Sueño Celeste</span></a>
            </div>
        </div>
        <!-- footer top bar start -->
        <!-- footer widgets start -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 first">
                        <h3>Redes Sociales</h3>
                        <div class="social-list half-icons">
                            <a href="http://www.instagram.com/promocionsuenoceleste"><i class="fa fa-instagram ic-instagram ic-colored sm-icon" data-hover=""></i><span>síguenos</span></a>
                            <a href="http://www.facebook.com/PromocionSuenoCeleste"><i class="fa fa-facebook ic-facebook ic-colored sm-icon" data-hover=""></i><span>me gusta</span></a>
                            <a href="https://www.youtube.com/channel/UCnsZ5_UcOptaPfNdKKjZzNA"><i class="fa fa-youtube ic-youtube ic-colored sm-icon" data-hover=""></i><span>síguenos</span></a>
                            <a href="https://twitter.com/celestesueno"><i class="fa fa-twitter ic-twitter ic-colored sm-icon" data-hover=""></i><span>míranos</span></a>
                        </div>
                    </div>

                    <div class="col-md-4 last contact-widget">
                        <h3>Contacto</h3>
                        <p class="foot-about-par">
                            Te dejamos nuestros datos para que nos contactes.
                        </p>
                        <ul class="details">
                            <li><i class="fa fa-map-marker"></i><span>San Martín 295, Morteros, Córdoba, Argentina</span></li>
                            <li><i class="fa fa-envelope"></i><span><a href="mailto:sceleste_mutual9@hotmail.com">sceleste_mutual9@hotmail.com</a></span></li>
                            <li><i class="fa fa-phone"></i><span>+54 (03562) 404455</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- footer widgets end -->

    </footer>
    <!-- Footer end -->
    <!-- Back to top Link -->
    <a id="to-top" href="https://www.xn--sueoceleste-3db.com/#"><span class="fa fa fa-angle-up"></span></a>

    <!-- Load JS plugins -->
    @*<script type="text/javascript" src="~/Content/assets/js/assets.js"></script>*@

    <!-- general script file -->
    @*<script type="text/javascript" src="~/Content/assets/js/script.js"></script>*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        if ($('#TipoDePago').length) {
            $('#CantCuotas').empty();
            if ($('#TipoDePago').val() == 2) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/Compras/ObtenerCuotasPosiblesJS',
                    data: {

                    },
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $('#CantCuotas').append('<option value="' + data.key + '">' + data.key + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error, por favor intente mas tarde.');
                    }
                });
                $('#SelectCantCuotas').show();
            } else if ($('#TipoDePago').val() == 3) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/Compras/ObtenerCuotasDebitoPosiblesJS',
                    data: {

                    },
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $('#CantCuotas').append('<option value="' + data.key + '">' + data.key + '</option>');
                        });
                    },
                    error: function (ex) {
                    alert('Error, por favor intente mas tarde.');
                    }
                });
                $('#SelectCantCuotas').show();
            }else {
                $('#SelectCantCuotas').hide();
            }

            $('#TipoDePago').change(function () {
                //if ($('#TipoDePago').val() == 2 || $('#TipoDePago').val() == 3) {
                //    $('#SelectCantCuotas').show();
                //} else {
                //    $('#SelectCantCuotas').hide();
                //}
                //if ($('#TipoDePago').val() == 2) {
                //    $('#SelectCantCuotas').show();
                //    $('#SelectCantCuotasDebito').hide();
                //} else if ($('#TipoDePago').val() == 3) {
                //    $('#SelectCantCuotas').hide();
                //    $('#SelectCantCuotasDebito').show();
                //} else {
                //    $('#SelectCantCuotas').hide();
                //    $('#SelectCantCuotasDebito').hide();
                //}
                $('#CantCuotas').empty();
                if ($('#TipoDePago').val() == 2) {
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Compras/ObtenerCuotasPosiblesJS',
                        data: {

                        },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, data) {
                                $('#CantCuotas').append('<option value="' + data.key + '">' + data.key + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Error, por favor intente mas tarde.');
                        }
                    });
                    $('#SelectCantCuotas').show();
                } else if ($('#TipoDePago').val() == 3) {
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Compras/ObtenerCuotasDebitoPosiblesJS',
                        data: {

                        },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, data) {
                                $('#CantCuotas').append('<option value="' + data.key + '">' + data.key + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Error, por favor intente mas tarde.');
                        }
                    });
                    $('#SelectCantCuotas').show();
                } else {
                    $('#SelectCantCuotas').hide();
                }
            });
        }
        if ($('#InstitucionId').length) {
            $('#InstitucionId').empty();
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Compras/ObtenerInstituciones',
                data: {

                },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, data) {
                        $('#InstitucionId').append('<option value="' + data.key + '">' + data.value + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Error, por favor intente mas tarde.');
                }
            });
        }
    </script>
</body>
</html>

@*<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
