@model IEnumerable<SueñoCelestePagos.Entities.CartonVendido>
@*@using PagedList.Mvc;*@
@{
    ViewBag.Title = "Index";
    DateTime Hoy = DateTime.Today;
    int PagosPendientes = 0;
    int PagosCompletos = 0;
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Compras</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Compras</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--END TITLE & BREADCRUMB PAGE-->
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-6">
            <select name="Año" id="Año" class="form-control">
                @for (int año = 2019; año <= Hoy.Year + 1; año++)
                {
                    if (ViewBag.Año == año)
                    {
                        <option selected value="@año">@año</option>
                    }
                    else
                    {
                        <option value="@año">@año</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    }
</div>
<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nro de Carton
                        </th>
                        <th>
                            Nombre del Cliente
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Localidad
                        </th>
                        <th>
                            Provincia
                        </th>
                        <th>
                            Fecha de la Compra
                        </th>
                        <th>
                            Forma de Pago
                        </th>
                        <th>
                            Estado del Pago
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var compra in Model)
                    {
                        <tr class="active">
                            <td>
                                @compra.Carton.Numero
                            </td>
                            <td>
                                @compra.Cliente.NombreCompleto
                            </td>
                            <td>
                                @compra.Cliente.Celular
                            </td>
                            <td>
                                @compra.Cliente.Email
                            </td>
                            <td>
                                @compra.Cliente.Localidad.Nombre
                            </td>
                            <td>
                                @compra.Cliente.Localidad.Provincia.Nombre
                            </td>
                            <td>
                                @compra.FechaVenta
                            </td>
                            <td>
                                @compra.TipoDePago.Descripcion
                            </td>
                            <td>
                                @if (!compra.PagoCancelado)
                                {
                                    if (compra.PagoRealizdo)
                                    {
                                        {
                                            PagosCompletos++;
                                        }
                                        <span>Pagado</span>
                                    }
                                    else
                                    {
                                        {
                                            PagosPendientes++;
                                        }
                                        <span>Pago Pendiente</span>
                                    }
                                }
                                else
                                {
                                    <span>Pago Cancelado</span>
                                }
                            </td>
                            <td>
                                @*@Html.ActionLink("Ver Mas", "Details", new { Area = "Administrador", id = compra.ID, page = Model.PageNumber }, null) |*@
                                @Html.ActionLink("Ver Pagos", "Pagos", new { Area = "Administrador", id = compra.ID }, null)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            
                        </td>
                        <td>
                            <b>Pagos Pendientes</b>
                        </td>
                        <td>
                            @PagosPendientes
                        </td>
                        <td>
                            <b>Pagados</b>
                        </td>
                        <td>
                            @PagosCompletos
                        </td>
                    </tr>
                </tfoot>
            </table>

            @*<div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>*@
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->