@model IEnumerable<SueñoCelestePagos.Entities.VMs.ResumenCampañaVm>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Resumen Acumulado";
    DateTime Hoy = DateTime.Today;
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Compras</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Compras</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--END TITLE & BREADCRUMB PAGE-->
<div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                @Html.DropDownList("Campaña", null, new { @Class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("InstitucionesID", null, new { @Class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="@Url.Action("DescargarResumenAcumulado", "Compras", new { InstitucionesID = ViewBag.InstitucionID, Campaña = ViewBag.CampañaID })" target="_blank">Exportar a Excel</a>
    </div>
    <div class="clearfix">
    </div>
</div>

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Carton
                        </th>
                        <th>
                            Nombre del Cliente
                        </th>
                        <th>
                            Dni
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Localidad
                        </th>
                        <th>
                            Institucion
                        </th>
                        @foreach (var mes in Model.First().MesesCampaña)
                        {
                            <th>
                                @mes.NombreMes
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var compra in Model)
                    {
                        <tr class="active">
                            <td>
                                @compra.NroCarton
                            </td>
                            <td>
                                @compra.NombreCompleto
                            </td>
                            <td>
                                @compra.Dni
                            </td>
                            <td>
                                @compra.Telefono
                            </td>
                            <td>
                                @compra.Email
                            </td>
                            <td>
                                @compra.Localidad
                            </td>
                            <td>
                                @compra.Institucion
                            </td>
                            
                            @foreach (var mes in compra.MesesCampaña)
                            {
                                <td>
                                    @mes.Importe
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>

            @*<div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>*@
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->
