@model PagedList.IPagedList<SueñoCelestePagos.Entities.VMs.ResumenAcumuladoVm>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Resumen Acumulado";
    DateTime Hoy = DateTime.Today;
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Compras</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Compras</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--END TITLE & BREADCRUMB PAGE-->
<div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                <select name="Año" id="Año" class="form-control">
                    @for (int año = 2019; año <= Hoy.Year + 1; año++)
                    {
                        if (ViewBag.Año == año)
                        {
                            <option selected value="@año">@año</option>
                        }
                        else
                        {
                            <option value="@año">@año</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("InstitucionesID", null, new { @Class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="@Url.Action("DescargarResumenAcumulado", "Compras", new { Año = ViewBag.Año, InstitucionesID = ViewBag.InstitucionID })" target="_blank">Exportar a Excel(Clientes con pagos realizados)</a>
    </div>
    <div class="clearfix">
    </div>
</div>

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Carton
                        </th>
                        <th>
                            Nombre del Cliente
                        </th>
                        <th>
                            Dni
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Localidad
                        </th>
                        <th>
                            Institucion
                        </th>
                        <th>
                            Enero
                        </th>
                        <th>
                            Febrero
                        </th>
                        <th>
                            Marzo
                        </th>
                        <th>
                            Abril
                        </th>
                        <th>
                            Mayo
                        </th>
                        <th>
                            Junio
                        </th>
                        <th>
                            Julio
                        </th>
                        <th>
                            Agosto
                        </th>
                        <th>
                            Septiembre
                        </th>
                        <th>
                            Octubre
                        </th>
                        <th>
                            Noviembre
                        </th>
                        <th>
                            Diciembre
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var compra in Model)
                    {
                        <tr class="active">
                            <td>
                                @compra.NroCarton
                            </td>
                            <td>
                                @compra.NombreCompleto
                            </td>
                            <td>
                                @compra.Dni
                            </td>
                            <td>
                                @compra.Telefono
                            </td>
                            <td>
                                @compra.Localidad
                            </td>
                            <td>
                                @compra.Institucion
                            </td>
                            <td>
                                $@compra.PagoEnero
                            </td>
                            <td>
                                $@compra.PagoFebrero
                            </td>
                            <td>
                                $@compra.PagoMarzo
                            </td>
                            <td>
                                $@compra.PagoAbril
                            </td>
                            <td>
                                $@compra.PagoMayo
                            </td>
                            <td>
                                $@compra.PagoJunio
                            </td>
                            <td>
                                $@compra.PagoJulio
                            </td>
                            <td>
                                $@compra.PagoAgosto
                            </td>
                            <td>
                                $@compra.PagoSeptiembre
                            </td>
                            <td>
                                $@compra.PagoOctubre
                            </td>
                            <td>
                                $@compra.PagoNoviembre
                            </td>
                            <td>
                                $@compra.PagoDiciembre
                            </td>
                            <td>
                                $@compra.TotalPagos
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>

            <div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->
