@model PagedList.IPagedList<SueñoCelestePagos.Entities.CartonVendido>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    DateTime Hoy = DateTime.Today;
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Compras</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Compras</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--END TITLE & BREADCRUMB PAGE-->
<div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            <div class="col-md-6">
                <select name="Año" id="Año" class="form-control">
                    @for (int año = 2019; año <= Hoy.Year; año++)
                    {
                        if (ViewBag.Año == año)
                        {
                            <option selected value="@año">@año</option>
                        }
                        else
                        {
                            <option value="@año">@año</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="clearfix">
    </div>
</div>

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nro de Carton
                        </th>
                        <th>
                            Nombre del Cliente
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Forma de Pago
                        </th>
                        <th>
                            Estado del Pago
                        </th>
                        <th>
                            Fecha de la Compra
                        </th>
                        <th>
                            Dias desde la Compra
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var compra in Model)
                    {
                        <tr class="active">
                            <td>
                                @compra.Carton.Numero
                            </td>
                            <td>
                                @compra.Cliente.NombreCompleto
                            </td>
                            <td>
                                @compra.Cliente.Celular
                            </td>
                            <td>
                                @compra.TipoDePago.Descripcion
                            </td>
                            <td>
                                @if (compra.PagoRealizdo)
                                {
                                    <span>Pagado</span>
                                }
                                else
                                {
                                    <span>Pago Pendiente</span>
                                }
                            </td>
                            <td>
                                @compra.FechaVenta
                            </td>
                            <td>
                                @compra.DiasDesdeLaVenta
                            </td>
                            <td>
                                @Html.ActionLink("Cancelar Venta", "CancelarVenta", new { Area = "Administrador", id = compra.ID, page = Model.PageNumber }, null)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>

            <div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h3>Cancelacion Automatica de Compras</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CancelarVentas", "Compras", FormMethod.Get))
                    {
                        <div class="col-md-3">
                            <label>Dias desde la compra del carton</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" name="Dias" id="Dias" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Cancelar" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->