@model PagedList.IPagedList<SueñoCelestePagos.Entities.Cliente>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}



<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Clientes</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Clientes</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<div>
    <div class="col-md-8">
        @*@using (Html.BeginForm())
            {
                <div class="col-md-4">

                </div>
                <div class="col-md-6">
                    <input type="text" name="searchString" id="searchString" class="form-control" value="@ViewBag.CurrentFilter " />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            }*@
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="@Url.Action("ClientesConPagos")" target="_blank">Exportar a Excel(Clientes con pagos realizados)</a>
    </div>
    <div class="clearfix">
    </div>
</div>

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Dni
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Direccion
                        </th>
                        <th>
                            Localidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr class="active">
                            <td>
                                @cliente.NombreCompleto
                            </td>
                            <td>
                                @cliente.Dni
                            </td>
                            <td>
                                @cliente.Celular
                            </td>
                            <td>
                                @cliente.Domicilio
                            </td>
                            <td>
                                @cliente.Localidad.Provincia.Nombre <span>, </span> @cliente.Localidad.Nombre
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>

            <div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->