@model SueñoCelestePagos.Entities.FechaDeVencimiento

@{
    ViewBag.Title = "Delete";
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Fechas de Vencimiento</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Fechas de Vencimiento</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div class="col-md-11">
            <div class="panel">
                <div class="panel-body">
                    <h3>¿Estas seguro de querer Eliminar esta fecha?</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Mes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Mes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Año)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Año)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PrimerVencimiento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrimerVencimiento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SegundoVencimiento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SegundoVencimiento)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
