@model SueñoCelestePagos.Entities.FechaDeVencimiento

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Fechas de Vencimiento</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Fechas de Vencimiento</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div class="col-md-11">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">Fechas De Vencimiento</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Mes)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mes)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Año)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Año)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PrimerVencimiento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PrimerVencimiento)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SegundoVencimiento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SegundoVencimiento)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
                        @Html.ActionLink("Volver", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


