@model PagedList.IPagedList<SueñoCelestePagos.Entities.FechaDeVencimiento>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<!--BEGIN TITLE & BREADCRUMB PAGE--><!--BEGIN TITLE & BREADCRUMB PAGE-->
<h1 class="page-header">Fechas de Vencimiento</h1>
<ul class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
    <li><a href="#">Fechas de Vencimiento</a></li>
</ul>
<!--END TITLE & BREADCRUMB PAGE-->

<hr />

<br />
<div>
    <div class="col-md-8">
        @*@using (Html.BeginForm())
        {
            <div class="col-md-6">
                <input type="text" name="searchString" id="searchString" class="form-control" value="@ViewBag.CurrentFilter " />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        }*@
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Create", "FechasDeVencimientos")" class="btn btn-primary">Agregar Nueva Fecha De Vencimiento</a>
    </div>
    <div class="clearfix">
    </div>
</div>

<hr />

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Mes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().PrimerVencimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SegundoVencimiento)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Año)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimerVencimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SegundoVencimiento)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>

            <div class="text-center">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="text-center">Su Busqueda no dio Resultados</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--END CONTENT-->
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
